<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    
    <header class="header">
        <a id="menu" class="header__menu" href="#" >☰</a>
        <div class="header__inner">
            <h1 class="header__title">Lapar Apps</h1>
        </div>
    </header>
    <nav id="drawer" class="nav">
        <ul class="nav__title">
            <li class="nav__item"><a href="#"> <h1>Lapar Apps</h1> </a></li>
        </ul>
        <ul class="nav__list">
            <li class="nav__item"><a href="/">Home</a></li>
            <li class="nav__item"><a href="#">Favourite</a></li>
            <li class="nav__item" ><a href="https://www.instagram.com/wantrisnadi/">About Us</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="hero__text">
          <h1>Anda Lapar ?</h1>
          <p>Yukk buka Lapar Apps aja</p>
        </div>
    </div>
    
    

    <!-- Main -->
    <main id="maincontent">
        <section class="content">
            <!-- headline title -->
            <article class="headline">
                <h1>Explore Restaurant</h1>
            </article>
            <!-- end headline title -->
        </section>

        <!-- Main content -->
        <div class="latest">
            <!-- List Posts -->
            <div class="posts" id="posts">

            </div>
            <!-- end list posts -->
        </div>
        <!-- End main content -->
    </main>
    <!-- End Main -->

    <!-- Footer -->
    <footer>
        <p class="footer__desc">Copyright © 2020 - Lapar Apps</p>
    </footer>
    <!-- End Footer -->

<script>
   
    
</script>
</body>
</html>
